---
---

h3 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}

h4 {
  margin-top: 1.2em;
}

.rdml-center-text {
  text-align:center;
}

#rdml-main {
  margin-top: 1em;
  margin-bottom: 1em;
  border:0.1em solid #484848;
  padding-top: 1em;
  padding-bottom: 1em;
}

#rdml-nav-table {
  width:100%;
}

#rdml-nav-logo {
  text-align:center;
  vertical-align:middle;
  padding: 0.5em;
}

#rdml-nav-logo img {
  height:100%;
  width:auto;
}

#rdml-nav-text {
  text-align:right;
  padding-right: 0.2em;
  padding-bottom: 0.3em;
}

#rdml-nav-text img {
  max-width: 100%;
}

.navbar-nav > li > a {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff !important;
  padding-right:1em !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.navbar {
  min-height:20px !important
}

#rdml-center {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}

.rdml-align-middle td {
  vertical-align:middle;
  text-align:left;
}

.rdml-align-middle img {
  max-height:50px;
  width:auto;
}

#rdml-footer {
  border-top:1px solid #484848;
  padding-top: 1em;
  margin-top: 1em;
}
